@import "tailwindcss";

.MuiChartsLegend-label {
  color: white;
  font-size: 15px;
}

.MuiChartsAxis-tickLabel {
  color: white;
}
.MuiChartsAxis-line {
  color: white;
  background-color: white;
}


.MuiGauge-valueText{
  color: white;
  background-color: white;
}